<section th:fragment="banner" xmlns:th="http://www.w3.org/1999/xhtml" class="padding-y-150 flex-center jarallax" data-dark-overlay="5" style="background:url(/home/img/1920x800/5.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center">
        <h4 class="font-weight-bold font-primary text-primary text-uppercase wow slideInUp">
          Learn Online Courses
        </h4>
        <h1 class="display-lg-3 font-weight-bold wow slideInUp">
          Advance Your Career.
        </h1>
        <p class="lead wow slideInUp">
          <span class="text-primary font-weight-semiBold">6,178</span> courses in Business, Technology and Creative Skills taught by industry experts.
        </p>
        <a href="#" class="btn btn-primary mt-3 wow slideInUp">Start Free Trial</a>
        <a href="#" class="btn btn-outline-white mt-3 ml-sm-3 wow slideInUp">Become an Instructor</a>
      </div>
      <form class="col-lg-7 mx-auto mt-5">
        <div class="input-group bg-white rounded p-2">
          <input type="text" class="form-control border-white" placeholder="What do you want to learn?" required>
          <div class="input-group-append">
            <button class="btn btn-info rounded" type="submit">
              Search
              <i class="ti-angle-right small"></i>
            </button>
          </div>
        </div>
      </form>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>


<section th:fragment="category" xmlns:th="http://www.w3.org/1999/xhtml" class="padding-y-100">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Featured Categories
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
      
      <div class="col-lg-6 col-md-7 marginTop-30">
        <a href="#" class="card text-white height-100p hover:parent">
          <img class="hover:zoomin transition-0_3" src="/home/img/lynda/1.jpg" alt="">
          <div class="card-img-overlay bg-black-0_5 flex-center">
            <h4>
              Software Development
            </h4>
            <button class="btn btn-primary btn-sm btn-pill">
              Over 50 Courses
            </button>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-5 marginTop-30">
        <a href="#" class="card text-white height-100p hover:parent">
          <img class="w-100 transition-0_3 hover:zoomin" src="/home/img/lynda/2.jpg" alt="">
          <div class="card-img-overlay bg-black-0_5 flex-center">
            <h4>
              Design
            </h4>
            <button class="btn btn-success btn-sm btn-pill">
              Over 50 Courses
            </button>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 marginTop-30">
        <a href="#" class="card text-white height-100p hover:parent">
          <img class="w-100 transition-0_3 hover:zoomin" src="/home/img/lynda/3.jpg" alt="">
          <div class="card-img-overlay bg-black-0_5 flex-center">
            <h4>
              Business
            </h4>
            <button class="btn btn-warning btn-sm btn-pill">
              Over 400 Courses
            </button>
          </div>
        </a>
      </div>
      
      
      <div class="col-lg-3 col-md-6 marginTop-30">
        <a href="#" class="card text-white height-100p hover:parent">
          <img class="w-100 transition-0_3 hover:zoomin" src="/home/img/lynda/4.jpg" alt="">
          <div class="card-img-overlay bg-black-0_5 flex-center">
            <h4>
              Marketing
            </h4>
            <button class="btn btn-info btn-sm btn-pill">
              Over 127 Courses
            </button>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-5 marginTop-30">
        <a href="#" class="card text-white height-100p hover:parent">
          <img class="w-100 transition-0_3 hover:zoomin" src="/home/img/lynda/5.jpg" alt="">
          <div class="card-img-overlay bg-black-0_5 flex-center">
            <h4>
               UI/UX Design
            </h4>
            <button class="btn btn-danger btn-sm btn-pill">
              Over 98 Courses
            </button>
          </div>
        </a>
      </div>
      
      <div class="col-lg-6 col-md-7 marginTop-30">
        <a href="#" class="card text-white height-100p hover:parent">
          <img class="w-100 transition-0_3 hover:zoomin" src="/home/img/lynda/6.jpg" alt="">
          <div class="card-img-overlay bg-black-0_5 flex-center">
            <h4>
               Web Development
            </h4>
            <button class="btn btn-info btn-sm btn-pill">
              Over 769 Courses
            </button>
          </div>
        </a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>   <!-- END section-->



<section th:fragment="course" xmlns:th="http://www.w3.org/1999/xhtml" class="padding-y-100 bg-light-v5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="mb-4">
          Browse Our Top Courses
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
      
      <div class="col-12">
        <ul class="nav nav-pills justify-content-center" role="tablist">
          <li>
            <a class="btn btn-white m-2 shadow-v1 active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">
              Developer
            </a>
          </li>
          <li>
            <a class="btn btn-white m-2 shadow-v1" data-toggle="tab" href="#tab2" role="tab" aria-selected="true">
              Business
            </a>
          </li>
          <li>
            <a class="btn btn-white m-2 shadow-v1" data-toggle="tab" href="#tab3" role="tab" aria-selected="true">
              UI/UX
            </a>
          </li>
          <li>
            <a class="btn btn-white m-2 shadow-v1" data-toggle="tab" href="#tab4" role="tab" aria-selected="true">
              Web Design
            </a>
          </li>
          <li>
            <a class="btn btn-white m-2 shadow-v1" data-toggle="tab" href="#tab5" role="tab" aria-selected="true">
              Marketing
            </a>
          </li>
        </ul>
      <div class="tab-content">
       
        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
          <div class="row">
           
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-success text-white">Best selling</span>
                <img class="card-img-top" src="/home/img/360x220/1.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    The Web Developer Bootcamp In Austin
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>

                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$180</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/2.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    C++ Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/4.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Java 8 Essential Training For Beginners 
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Anthony Brooks
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-success">Free</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/5.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Visual Basic Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-info text-white">Trending</span>
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
          </div> <!-- END row-->
        </div> <!-- END tab-pane -->
        
        <div class="tab-pane fade" id="tab2" role="tabpanel">
          <div class="row">
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/4.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Java 8 Essential Training For Beginners 
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Anthony Brooks
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-success">Free</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/5.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Visual Basic Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-info text-white">Trending</span>
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
          </div> <!-- END row-->
        </div> <!-- END tab-pane -->
        
        <div class="tab-pane fade" id="tab3" role="tabpanel">
          <div class="row">
           
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-success text-white">Best selling</span>
                <img class="card-img-top" src="/home/img/360x220/1.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    The Web Developer Bootcamp In Austin
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>

                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$180</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/2.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    C++ Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/4.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Java 8 Essential Training For Beginners 
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Anthony Brooks
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-success">Free</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/5.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Visual Basic Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-info text-white">Trending</span>
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
          </div> <!-- END row-->
        </div> <!-- END tab-pane -->
        
        <div class="tab-pane fade" id="tab4" role="tabpanel">
          <div class="row">
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/4.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Java 8 Essential Training For Beginners 
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Anthony Brooks
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-success">Free</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/5.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Visual Basic Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-info text-white">Trending</span>
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
          </div> <!-- END row-->
        </div> <!-- END tab-pane -->
        
        <div class="tab-pane fade" id="tab5" role="tabpanel">
          <div class="row">
           
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-success text-white">Best selling</span>
                <img class="card-img-top" src="/home/img/360x220/1.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    The Web Developer Bootcamp In Austin
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>

                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$180</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/2.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    C++ Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
                <img class="card-img-top" src="/home/img/360x220/4.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Java 8 Essential Training For Beginners 
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Anthony Brooks
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-success">Free</span>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">            
                <img class="card-img-top" src="/home/img/360x220/5.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Visual Basic Essential Training
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Andrew Mead, John Doe
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5 text-right">
                    <span class="text-primary d-block">$10</span>
                    <s class="small">$129</s>
                  </h4>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 marginTop-30">
              <div class="card text-gray overflow-hidden height-100p shadow-v1">
               <span class="ribbon-badge font-size-sm bg-info text-white">Trending</span>
                <img class="card-img-top" src="/home/img/360x220/3.jpg" alt="">
                <div class="card-body">
                  <a href="page-sp-course-details.html" class="h5">
                    Programming Real-World Examples
                  </a>
                  <p class="my-3">
                    <i class="ti-user mr-2"></i>
                    Adam Kury
                  </p>
                  <ul class="list-unstyled ec-review-rating">
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="active"><i class="fas fa-star"></i></li>
                    <li class="text-gray">
                      <span>(4.9)</span>
                      <span>4578</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer media align-items-center justify-content-between">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <i class="ti-headphone small mr-2"></i>
                      46 lectures
                    </li>
                    <li class="mb-1">
                      <i class="ti-time small mr-2"></i>
                      27.5 hours
                    </li>
                  </ul>
                  <h4 class="h5">
                    <span class="text-primary">$249</span>
                  </h4>
                </div>
              </div>
            </div>
          </div> <!-- END row-->
        </div> <!-- END tab-pane -->
        
      </div> <!-- END tab-content-->
      </div> <!-- END col-12 -->
      <div class="col-12 text-center mt-5">
        <a href="#" class="btn btn-primary">Start Free Trial</a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>
    
<section class="padding-y-100">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Learning at Educati
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".1s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-pencil-alt"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              A Valuable Certificate
            </h4>
            <p>
              Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".2s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-medall"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Credit-Eligible
            </h4>
            <p>
              Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".3s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-flag-alt"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Professional Certificate
            </h4>
            <p>
              Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".1s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-wand"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              MicroMasters Programs
            </h4>
            <p>
              Investig ationes demons travg vunt lectores legere lyrus quod legunt saepius claritas est.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".2s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-book"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              XSeries Programs
            </h4>
            <p>
              Investig ationes demons travg vunt lectores legere lyrus quod legunt saepius claritas est.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".3s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-ruler-pencil"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Take The Tour
            </h4>
            <p>
              Investig ationes demons travg vunt lectores legere lyrus quod legunt saepius claritas est.
            </p>
          </div>
        </div>
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 